/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

ul li{
    list-style: none;
    margin-top: 15px;
    padding-left: 10px;
    color: gray;
    vertical-align: middle;
}



/* MAIN */
.main-layout{
    height: calc(100vh - 80px);
    display: flex;
}

.main-colonna-sx{
    width: 200px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.main-colonna-sx > div{
    margin-top: 10px;
}

.main-colonna-sx .main-logo {
    width: 130px;
}

.main-nav div:not(.main-logo){
    margin-top: 20px;
}

.main-nav .list-playlist i{
    vertical-align: middle;
}

.main-nav ul li:hover{
    color: white;
    border-left: 2px solid lime;
    cursor: pointer;
}

.main-nav-end{
    margin-right: 20px;
    margin-bottom: 20px;
    justify-self:flex-end;
}

.main-nav-end hr{
    margin: 10px 0;
}

.main-nav-end div{
    color: gray;
    margin-right: 10px;
}

.main-nav-end i{
    margin-right: 8px;
}

.main-nav-end i:last-child{
    vertical-align: middle;
}

.main-nav-end div span{
    color: white;
    font-weight: bold;
}

.main-nav-end .install:hover{
    color: white;
    cursor: pointer;
}

.main-colonna-dx{
    width: calc(100% - 200px);
}

.main-nav-alternative,
.main-nav-end-alternative{
    display: none;
}

.main-nav-alternative .list-icons li:first-child{
    color: white;
}

.main-nav-end-alternative{
    color: gray;
}


/* COLONNA DI DESTRA */
.main-header{
    display: flex;
    justify-content: right;
    background-color: #141922;
    height: 60px;
}

.btn-main-header{
    text-align: right;
    height: 100%;
    padding: 20px 30px;
}

.btn-main a{
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    height: 100%;
    border: 1px solid white;
    border-radius: 18px;
}


.btn-main:hover{
    transform: scale(110%);
}





/* FOOTER */
footer{
    background-color: #282828;
    color: white;
    height: 80px;
}

.footer-row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

    
.footer-row .player-center{
    width: calc(100% / 3);
}

.footer-row .player-sx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row .player-sx > *{
    margin-left: 10px;
}

.footer-row .player-sx .img-player{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.footer-row .player-sx .img-player img{
    width: 100%;
}

.footer-row .player-sx .title{
    font-weight: bold;
}

.footer-row .player-sx div span{
    color: lightgray;
}

.footer-row .player-sx .title span:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.footer-row .player-sx .icons-player-sx i{
    margin-left: 8px;
    color: lightgray;
}

.footer-row .player-sx .icons-player-sx i:hover{
    color: white;
    cursor: pointer;
}


.footer-row .player-sx div:last-child{
    margin-left: 20px;
}

.footer-row .player-center{
    text-align: center;
}

.footer-row .player-center .icons *{
    margin-left: 10px;
    margin-bottom: 5px;
}

.footer-row .player-center .icons i:hover{
    cursor: pointer;
}


.footer-row .player-center .icons #play-btn:hover{
    transform: scale(150%);
}


.footer-row .player-dx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row .player-dx * {
    margin-right: 10px;
}

.player-bar{
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    padding: 2px 0;
    background-color: green;
}

.player-bar-big{
    width: 70%;
}

.player-bar-small{
    width: 100px;
}



/*****************************
        RESPONSIVE
******************************/


@media screen and (max-width: 1100px){
    
}

/* MOBILE */
@media screen and (max-width: 700px){

    .footer-row .player-dx * {
        margin-right: 7px;
    }

}








@media screen and (max-width: 600px){
    
    .main-colonna-sx{
        width: 50px;
        padding: 10px;
    }

    .main-nav-alternative,
    .main-nav-end-alternative{
        display: block;
        width: 100%;
    }

    .main-nav,
    .main-nav-end{
        display: none;
    }

    .main-colonna-sx .main-logo {
        width: 30px;
    }

    .main-colonna-sx ul li{
        padding-left: 0;
        text-align: center;
    }

    .main-colonna-sx .main-nav-end-alternative .install{
        text-align: center;
    }

    .main-colonna-sx .main-nav-end-alternative .install *{
        margin-top: 20px;
    }


    .main-colonna-dx {
        width: calc(100% - 50px);
    }


    /* FOOTER */
    .footer-row .player-center{
        width: 40%;
    }


    .footer-row .player-sx .title{
        font-size: 10px;
    }


    .footer-row .player-sx div:last-child{
        margin-left: 0;
    }

    .footer-row .player-sx .icons-player-sx{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .player-bar-small{
        width: 60px;
    }

}










/* DEBUG */

.debug .main-layout .main-colonna-sx{
    background-color: black;
    color: white;
}

.debug .main-layout .main-colonna-dx .main-body{
    height: calc(100vh - 50px - 100px);
    overflow-y: auto;
}

.debug .main-layout .main-colonna-dx .main-body div{
    height: 200px;
}